.own-message {
  background-color:#e0b57d;
  max-width: 60%;
  padding: 5px 15px; 
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-self: flex-end;
  border-radius: 20px;
  box-shadow: -4px 4px 8px 0px #41445c;
}

.message-edit {
  margin: 0 30px 0 0;
}


.message-edit,
.message-delete {
  width: 60px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  border: 1px solid rgba(34, 60, 80, 0.6);
}
